<h1>Stripe test 1</h1>



<form (ngSubmit)="createStripeToken()" class="checkout">
  <label for="card-info">Card Info</label>
  <div id="form-field">
    <div id="card-info" #cardInfo></div>
    <button id="submit-button" type="submit">
      Pay ${{_totalAmount}}
    </button>
    <mat-error id="card-errors" role="alert" *ngIf="cardError">
      <mat-icon style="color: #f44336">cancel</mat-icon>
      &nbsp;{{ cardError }}
    </mat-error>
  </div>
</form>

<button id="save-button" (click)="saveCard()">
  Save card
</button>
<button id="save-button2" (click)="payAfter()">
  Pay with card saved $15
</button>

<p></p>
<p></p>


<h1>Stripe test 2</h1>
<form id="payment-form" (ngSubmit)="saveCardStripe()">
  <div id="payment-element" #paymentElement>
    <!-- Elements will create form elements here -->
  </div>
  <button mat-button id="submit" type="submit">
    Save card
  </button>
  <div id="error-message">
    <!-- Display error message to your customers here -->
  </div>
  <mat-error id="card-errors" role="alert" *ngIf="cardError">
    <mat-icon style="color: #f44336">cancel</mat-icon>
    &nbsp;{{ cardError }}
  </mat-error>
</form>

<p></p>
<p></p>

<h1>Conekta test</h1>

<div id="example" style="width: 500px; margin: 0 auto"></div>



<router-outlet></router-outlet>
